# --- PostgreSQL ---
POSTGRES_USER=......
POSTGRES_PASSWORD=......
POSTGRES_DB=mlops
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- Modèle ---
MODEL_NAME=baseline_logreg
TARGET_COLUMN=target
TEST_SIZE=0.2
RANDOM_STATE=42

# --- API ---
API_HOST=0.0.0.0
API_PORT=8000
LOG_LEVEL=INFO

# --- MLflow ---
MLFLOW_TRACKING_URI=postgresql+psycopg://"POSTGRES_USER":"POSTGRES_PASSWORD"@localhost:5432/mlops   # replace "POSTGRES_PASSWORD" and "POSTGRES_PASSWORD"
MLFLOW_EXPERIMENT_NAME=rakuten-baseline-v2
MLFLOW_REGISTERED_MODEL_NAME=rakuten_baseline

# --- Airflow ---
AIRFLOW_UID=1000
AIRFLOW_FERNET_KEY=...
AIRFLOW_JWT_SECRET=...
